{{ define "index.html" }}
  {{ template "base" . }}
{{ end }}

{{ define "content" }}
<h1>{{ .Title }}</h1>

<p>Server time: <strong sse-swap="time-update">{{ .Now }}</strong></p>

<h2> Tasks </h2>
<div id="tasks">
  <div
    id="new-task"
    sse-swap="task-created"
    hx-target="this"
    hx-swap="beforebegin"
  ></div>
</div>

<form
  class="contact-form"
  hx-put="/api/register-task"
  hx-swap="none"
  hx-on::after-request="if([200,201].includes(event.detail.xhr.status)){ this.reset(); }"
>
  <label for="taskName"> task name </label>
  <input id="taskName" name="taskName" />
  <button
    type="submit"
  >
    Refresh time
  </button>
</form>
{{ end }}
